<a href="https://colab.research.google.com/github/Rahulaggl/EDA/blob/main/LAB_DA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basics of R Programming**

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
# Load dataset from provided URL
url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/constituents.csv"
df = pd.read_csv(url)

In [ ]:
# 1. Display the first few rows of the dataset
print("Dataset preview:")
print(df.head())

Dataset preview:
  Symbol             Security             GICS Sector  \
0    MMM                   3M             Industrials
1    AOS          A. O. Smith             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV               AbbVie             Health Care
4    ACN            Accenture  Information Technology

                GICS Sub-Industry    Headquarters Location  Date added  \
0        Industrial Conglomerates    Saint Paul, Minnesota  1957-03-04
1               Building Products     Milwaukee, Wisconsin  2017-07-26
2           Health Care Equipment  North Chicago, Illinois  1957-03-04
3                   Biotechnology  North Chicago, Illinois  2012-12-31
4  IT Consulting & Other Services          Dublin, Ireland  2011-07-06

       CIK      Founded
0    66740         1902
1    91142         1916
2     1800         1888
3  1551152  2013 (1888)
4  1467373         1989

In [ ]:
# 2. Show memory usage of the dataset
print("\nMemory usage of the dataset:")
print(df.memory_usage(deep=True))

Memory usage of the dataset:
Index                      128
Symbol                   30265
Security                 35721
GICS Sector              35646
GICS Sub-Industry        40723
Headquarters Location    38511
Date added               33701
CIK                       4024
Founded                  31214
dtype: int64

In [ ]:
# 3. Check the data types of each column
print("\nData types of each column:")
print(df.dtypes)

Data types of each column:
Symbol                   object
Security                 object
GICS Sector              object
GICS Sub-Industry        object
Headquarters Location    object
Date added               object
CIK                       int64
Founded                  object
dtype: object

In [ ]:
# 4. Create sequence from 20 to 50, mean of 20 to 60, sum of 51 to 91
sequence = list(range(20, 51))
mean_value = np.mean(list(range(20, 61)))
sum_value = np.sum(list(range(51, 92)))
print("\nSequence from 20 to 50:", sequence)
print("Mean of numbers from 20 to 60:", mean_value)
print("Sum of numbers from 51 to 91:", sum_value)

Sequence from 20 to 50: [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Mean of numbers from 20 to 60: 40.0
Sum of numbers from 51 to 91: 2911

In [ ]:
# 5. Generate a vector with 10 random integers between -50 and 50
random_vector = np.random.randint(-50, 51, 10)
print("\nRandom vector of 10 integers between -50 and 50:", random_vector)

Random vector of 10 integers between -50 and 50: [ 15  19   7  18 -41  14   4 -22 -45 -13]

In [ ]:
# 6. First 10 Fibonacci numbers
fibonacci_sequence = [0, 1]
for i in range(8):
    fibonacci_sequence.append(fibonacci_sequence[-1] + fibonacci_sequence[-2])
print("\nFirst 10 Fibonacci numbers:", fibonacci_sequence)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# 7. Extract first 10 lowercase letters and last 10 uppercase letters
lowercase_letters = list(map(chr, range(97, 107)))  # 'a' to 'j'
uppercase_letters = list(map(chr, range(65, 75)))  # 'A' to 'J'
print("\nFirst 10 lowercase letters:", lowercase_letters)
print("First 10 uppercase letters:", uppercase_letters)

First 10 lowercase letters: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
First 10 uppercase letters: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [ ]:
# 8. Find max and min in the random vector generated above
max_value = np.max(random_vector)
min_value = np.min(random_vector)
print("\nMax value in random vector:", max_value)
print("Min value in random vector:", min_value)

Max value in random vector: 19
Min value in random vector: -45

In [ ]:
# 9. Get unique elements of a string and a vector
example_string = "abracadabra"
unique_chars = ''.join(set(example_string))
unique_vector = np.unique(random_vector)
print("\nUnique characters in the string 'abracadabra':", unique_chars)
print("Unique elements in the random vector:", unique_vector)

Unique characters in the string 'abracadabra': rabcd
Unique elements in the random vector: [-45 -41 -22 -13   4   7  14  15  18  19]

In [ ]:
# 10. Combine three vectors to form a 3x3 matrix
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = np.array([7, 8, 9])
matrix = np.column_stack((a, b, c))
print("\nCombined 3x3 matrix:\n", matrix)

Combined 3x3 matrix:
 [[1 4 7]
 [2 5 8]
 [3 6 9]]

In [ ]:
# 11. Count occurrences of each value in a normal distribution
normal_dist_values = np.random.randn(100)
value_counts = pd.Series(normal_dist_values).value_counts()
print("\nValue counts in normal distribution:\n", value_counts)

Value counts in normal distribution:
 -2.595468    1
 0.448461    1
 0.312849    1
-0.400410    1
-1.775730    1
            ..
 0.633074    1
-0.013843    1
 0.708883    1
-2.190722    1
 2.510869    1
Name: count, Length: 100, dtype: int64

In [ ]:
# 12. Read CSV (already done above) and display the content
print("\nDataset content:")
print(df.head())

Dataset content:
  Symbol             Security             GICS Sector  \
0    MMM                   3M             Industrials
1    AOS          A. O. Smith             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV               AbbVie             Health Care
4    ACN            Accenture  Information Technology

                GICS Sub-Industry    Headquarters Location  Date added  \
0        Industrial Conglomerates    Saint Paul, Minnesota  1957-03-04
1               Building Products     Milwaukee, Wisconsin  2017-07-26
2           Health Care Equipment  North Chicago, Illinois  1957-03-04
3                   Biotechnology  North Chicago, Illinois  2012-12-31
4  IT Consulting & Other Services          Dublin, Ireland  2011-07-06

       CIK      Founded
0    66740         1902
1    91142         1916
2     1800         1888
3  1551152  2013 (1888)
4  1467373         1989

In [ ]:
# 13. Create a DataFrame of employee details and provide summary
employee_data = {'Name': ['John', 'Emma', 'Harry', 'Olivia', 'James'],
                 'Age': [30, 24, 35, 28, 40],
                 'Position': ['Manager', 'Analyst', 'Clerk', 'Engineer', 'Supervisor']}
employee_df = pd.DataFrame(employee_data)
print("\nEmployee Data:\n", employee_df)
print("\nSummary of employee data:\n", employee_df.describe())

Employee Data:
      Name  Age    Position
0    John   30     Manager
1    Emma   24     Analyst
2   Harry   35       Clerk
3  Olivia   28    Engineer
4   James   40  Supervisor

Summary of employee data:
              Age
count   5.000000
mean   31.400000
std     6.228965
min    24.000000
25%    28.000000
50%    30.000000
75%    35.000000
max    40.000000

In [ ]:
# 14. Print numbers 1 to 100 with specific conditions
print("\nNumbers 1 to 100 with conditions:")
for i in range(1, 101):
    if i % 2 == 0 and i % 4 == 0:
        print(f"{i}: Exploratory Data Analysis")
    elif i % 2 == 0:
        print(f"{i}: Exploratory")
    elif i % 4 == 0:
        print(f"{i}: Data Analysis")
    else:
        print(i)

Numbers 1 to 100 with conditions:
1
2: Exploratory
3
4: Exploratory Data Analysis
5
6: Exploratory
7
8: Exploratory Data Analysis
9
10: Exploratory
11
12: Exploratory Data Analysis
13
14: Exploratory
15
16: Exploratory Data Analysis
17
18: Exploratory
19
20: Exploratory Data Analysis
21
22: Exploratory
23
24: Exploratory Data Analysis
25
26: Exploratory
27
28: Exploratory Data Analysis
29
30: Exploratory
31
32: Exploratory Data Analysis
33
34: Exploratory
35
36: Exploratory Data Analysis
37
38: Exploratory
39
40: Exploratory Data Analysis
41
42: Exploratory
43
44: Exploratory Data Analysis
45
46: Exploratory
47
48: Exploratory Data Analysis
49
50: Exploratory
51
52: Exploratory Data Analysis
53
54: Exploratory
55
56: Exploratory Data Analysis
57
58: Exploratory
59
60: Exploratory Data Analysis
61
62: Exploratory
63
64: Exploratory Data Analysis
65
66: Exploratory
67
68: Exploratory Data Analysis
69
70: Exploratory
71
72: Exploratory Data Analysis
73
74: Exploratory
75
76: Exploratory Data Analysis
77
78: Exploratory
79
80: Exploratory Data Analysis
81
82: Exploratory
83
84: Exploratory Data Analysis
85
86: Exploratory
87
88: Exploratory Data Analysis
89
90: Exploratory
91
92: Exploratory Data Analysis
93
94: Exploratory
95
96: Exploratory Data Analysis
97
98: Exploratory
99
100: Exploratory Data Analysis

In [ ]:
# 15. Vector operations: Sum, Mean, and Every 2nd element
vector = pd.Series([10, 20, 30, 40, 50])
vector_sum = vector.sum()
vector_mean = vector.mean()
second_elements = vector[1::2]
print("\nSum of vector elements:", vector_sum)
print("Mean of vector elements:", vector_mean)
print("Every second element in vector:", second_elements)

Sum of vector elements: 150
Mean of vector elements: 30.0
Every second element in vector: 1    20
3    40
dtype: int64

In [ ]:
# 16. Multiplication game with 5 correct answers
correct = 0
while correct < 5:
    num1, num2 = random.randint(2, 12), random.randint(2, 12)
    answer = int(input(f"What is {num1} * {num2}? "))
    if answer == num1 * num2:
        print("Correct!")
        correct += 1
    else:
        print("Try again.")

What is 2 * 5? 10
Correct!
What is 8 * 6? 48
Correct!
What is 7 * 8? 56
Correct!
What is 11 * 12? 132
Correct!
What is 5 * 8? 40
Correct!

In [ ]:
# 17. Find the first positive integer whose square exceeds 4000
num = 1
while num ** 2 <= 4000:
    num += 1
print("\nThe first integer whose square exceeds 4000:", num)

The first integer whose square exceeds 4000: 64

In [ ]:
# 20. Create and display vectors of numeric, character, and logical data
numeric_data = np.array([1, 2, 3, 4, 5])
character_data = np.array(['a', 'b', 'c', 'd', 'e'])
logical_data = np.array([True, False, True, False, True])
print("\nNumeric data vector:", numeric_data)
print("Character data vector:", character_data)
print("Logical data vector:", logical_data)

Numeric data vector: [1 2 3 4 5]
Character data vector: ['a' 'b' 'c' 'd' 'e']
Logical data vector: [ True False  True False  True]

In [ ]:
# 18. Create vectors of different types and lengths
numeric_vector = np.zeros(6)
complex_vector = np.zeros(6, dtype=complex)
logical_vector = np.full(6, True)
char_vector = np.array(list('abcdef'))
print("\nNumeric vector:", numeric_vector)
print("Complex vector:", complex_vector)
print("Logical vector:", logical_vector)
print("Character vector:", char_vector)

Numeric vector: [0. 0. 0. 0. 0. 0.]
Complex vector: [0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j 0.+0.j]
Logical vector: [ True  True  True  True  True  True]
Character vector: ['a' 'b' 'c' 'd' 'e' 'f']

In [ ]:
# 19. Construct a 4x2 matrix filled row-wise
matrix_4x2 = np.array([4.3, 3.1, 8.2, 8.2, 3.2, 0.9, 1.6, 6.5]).reshape(4, 2)
print("\n4x2 matrix (filled row-wise):\n", matrix_4x2)

# **Merging Data frames**

In [ ]:
import pandas as pd

# Sample dataset representing your company data (use relevant data in your case)
data = {
    'Symbol': ['MMM', 'AOS', 'ABT', 'ABBV', 'ACN'],
    'Security': ['3M', 'A. O. Smith', 'Abbott Laboratories', 'AbbVie', 'Accenture'],
    'GICS Sector': ['Industrials', 'Industrials', 'Health Care', 'Health Care', 'Information Technology'],
    'GICS Sub-Industry': ['Industrial Conglomerates', 'Building Products', 'Health Care Equipment', 'Biotechnology', 'IT Consulting & Other Services'],
    'Headquarters Location': ['Saint Paul, Minnesota', 'Milwaukee, Wisconsin', 'North Chicago, Illinois', 'North Chicago, Illinois', 'Dublin, Ireland'],
    'Date added': ['1957-03-04', '2017-07-26', '1957-03-04', '2012-12-31', '2011-07-06'],
    'CIK': [66740, 91142, 1800, 1551152, 1467373],
    'Founded': [1902, 1916, 1888, 2013, 1989]
}

In [ ]:
# Task 1: Create DataFrame1 ‘Fname’
CompanyData1 = pd.DataFrame({
    'Symbol': ['ABT', 'MMM', 'ABBV', 'AOS', 'ACN'],
    'NameofProd': ['Abbott', '3M', 'AbbVie', 'Smith', 'Accenture'],
    'Price': [100, 200, 300, 400, 500]
})
print("DataFrame 1 (CompanyData1):")
print(CompanyData1)

DataFrame 1 (CompanyData1):
  Symbol NameofProd  Price
0    ABT     Abbott    100
1    MMM         3M    200
2   ABBV     AbbVie    300
3    AOS      Smith    400
4    ACN  Accenture    500

In [ ]:
# Task 2: Create DataFrame2 ‘Sample’
CompanyData2 = pd.DataFrame({
    'Symbol': ['MMM', 'ABBV'],
    'NameofProd': ['3M', 'AbbVie'],
    'Price': [150, 250]
})
print("\nDataFrame 2 (CompanyData2):")
print(CompanyData2)

DataFrame 2 (CompanyData2):
  Symbol NameofProd  Price
0    MMM         3M    150
1   ABBV     AbbVie    250

In [ ]:
# Task 3: Create DataFrame3 ‘Lname’
CompanyData3 = pd.DataFrame({
    'Symbol': ['ABT', 'MMM', 'ABBV', 'AOS', 'ACN'],
    'Company_Location': ['Chicago', 'Saint Paul', 'Chicago', 'Milwaukee', 'Dublin']
})
print("\nDataFrame 3 (CompanyData3):")
print(CompanyData3)

DataFrame 3 (CompanyData3):
  Symbol Company_Location
0    ABT          Chicago
1    MMM       Saint Paul
2   ABBV          Chicago
3    AOS        Milwaukee
4    ACN           Dublin

In [ ]:
# Task 4: Append DataFrame1 and DataFrame2 using pd.concat
appended_df = pd.concat([CompanyData1, CompanyData2], ignore_index=True)
print("\nAppended DataFrame (CompanyData1 + CompanyData2):")
print(appended_df)

Appended DataFrame (CompanyData1 + CompanyData2):
  Symbol NameofProd  Price
0    ABT     Abbott    100
1    MMM         3M    200
2   ABBV     AbbVie    300
3    AOS      Smith    400
4    ACN  Accenture    500
5    MMM         3M    150
6   ABBV     AbbVie    250

In [ ]:
# Task 5: Combine DataFrame1 and DataFrame3 using pd.concat (like a horizontal stack)
combined_df = pd.concat([CompanyData1, CompanyData3], axis=1)
print("\nCombined DataFrame (CompanyData1 + CompanyData3):")
print(combined_df)

Combined DataFrame (CompanyData1 + CompanyData3):
  Symbol NameofProd  Price Symbol Company_Location
0    ABT     Abbott    100    ABT          Chicago
1    MMM         3M    200    MMM       Saint Paul
2   ABBV     AbbVie    300   ABBV          Chicago
3    AOS      Smith    400    AOS        Milwaukee
4    ACN  Accenture    500    ACN           Dublin

In [ ]:
# Task 6: Merge DataFrame1 and DataFrame3 by 'Symbol' using inner join (default behavior)
merged_df_inner = pd.merge(CompanyData1, CompanyData3, on='Symbol')
print("\nMerged DataFrame (Inner Join on Symbol):")
print(merged_df_inner)

Merged DataFrame (Inner Join on Symbol):
  Symbol NameofProd  Price Company_Location
0    ABT     Abbott    100          Chicago
1    MMM         3M    200       Saint Paul
2   ABBV     AbbVie    300          Chicago
3    AOS      Smith    400        Milwaukee
4    ACN  Accenture    500           Dublin

In [ ]:
# Task 7: Perform Left and Right Joins using pd.merge
# Left Join
merged_df_left = pd.merge(CompanyData1, CompanyData3, on='Symbol', how='left')
print("\nMerged DataFrame (Left Join on Symbol):")
print(merged_df_left)

# Right Join
merged_df_right = pd.merge(CompanyData1, CompanyData3, on='Symbol', how='right')
print("\nMerged DataFrame (Right Join on Symbol):")
print(merged_df_right)

Merged DataFrame (Left Join on Symbol):
  Symbol NameofProd  Price Company_Location
0    ABT     Abbott    100          Chicago
1    MMM         3M    200       Saint Paul
2   ABBV     AbbVie    300          Chicago
3    AOS      Smith    400        Milwaukee
4    ACN  Accenture    500           Dublin

Merged DataFrame (Right Join on Symbol):
  Symbol NameofProd  Price Company_Location
0    ABT     Abbott    100          Chicago
1    MMM         3M    200       Saint Paul
2   ABBV     AbbVie    300          Chicago
3    AOS      Smith    400        Milwaukee
4    ACN  Accenture    500           Dublin

# **Data transformation and pre-processing**

In [ ]:
def get_data():
    data = input("Enter a list of numbers separated by commas: ")
    # Convert input string to a list of floats, splitting by commas
    return list(map(float, data.split(',')))

def normalize_Rollno(data, new_min, new_max):
    old_min = min(data)
    old_max = max(data)

    # Normalize using the formula
    normalized_data = [
        new_min + (new_max - new_min) * (value - old_min) / (old_max - old_min)
        for value in data
    ]
    return normalized_data

def main():
    # Step 1: Get data
    data = get_data()

    # Step 3: Normalize data to range [0, 1]
    normalized_0_1 = normalize_Rollno(data, 0, 1)
    print("Data normalized to range [0, 1]:", normalized_0_1)

    # Step 4: Normalize data to range [-1, 1]
    normalized_minus1_1 = normalize_Rollno(data, -1, 1)
    print("Data normalized to range [-1, 1]:", normalized_minus1_1)

    # Step 5: Normalize data to range [-3, 3]
    normalized_minus3_3 = normalize_Rollno(data, -3, 3)
    print("Data normalized to range [-3, 3]:", normalized_minus3_3)

# Run the main program
if __name__ == "__main__":
    main()

Enter a list of numbers separated by commas: 10,20,30,40,50
Data normalized to range [0, 1]: [0.0, 0.25, 0.5, 0.75, 1.0]
Data normalized to range [-1, 1]: [-1.0, -0.5, 0.0, 0.5, 1.0]
Data normalized to range [-3, 3]: [-3.0, -1.5, 0.0, 1.5, 3.0]